a{
    text-decoration: none;
  }
  
   


  
    
  
  .tituloProducto{
    color: #5e6472;
    font-weight: bold;
  }
  
  .stock{
    color: #000;
    font-size: small;
  }
  
  .precio{
    color:#000;
    font-size: large;
    font-weight: bold;
  }
  
  .cardProducto{
    height: 500px !important;
    margin: 10px;
  }
  
  .cardImagenProducto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    max-height: 300px;
  }
  
  .card-img .card-img-top .card-img-bottom {
    max-width: 100%;
  }
  
  
  
  .botonCount:hover{
    font-weight: bold;
    font-size: medium;
  }
     
  .tituloProductoDetalle{
    color: #5e6472;
    font-weight: bold;
    font-size: x-large;
  }
  
  .stockProducto{
    font-size: small;
  }
  
  .precioProducto{
    font-weight: bold;
    font-size: large;
  }
  
  
  